body {
    max-width: 1000px;
    margin: auto;
    line-height: 1.6;
    font-family: sans-serif;
}

h1,
h2,
h3 {
    margin-top: 1.5em;
}

.note {
    font-size: 0.8em;
    color: #555;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
    margin-bottom: 20px;
}

table tr td:first-child,
table tr th:first-child {
    width: 300px;
    /* 好きな幅に調整 */
}

table th {
    text-align: left;
    padding: 0.5em;
    border-bottom: 2px solid #333;
}

table td {
    padding: 0.5em;
    border-bottom: 1px solid #ccc;
}

hr {
    margin: 1.5em 0;
}

figure {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 1em;
}

figure img {
    width: 45%;
    max-width: 300px;
}

figcaption {
    text-align: center;
    width: 100%;
    margin-top: 0.5em;
}
